{% extends "base.html" %}
{% load static %}

{% block title %}
    My Blog
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "blog/index.css" %}">
    <link rel="stylesheet" href="{% static "blog/post.css" %}">
{% endblock %}

{% block content %}    
    <section id="welcome">
        <header>
            <img src="{% static "blog/images/rithwik.jpeg" %}" alt="Rithwik - Blog Author">
            <h2>RITHWIK'S BLOG</h2>
        </header>
        <p>Hi, I am Rithwik - Engineering undergrad who loves blogging!</p>
    </section>

    <section id="latest-posts">
        <h2>Recent Posts</h2>
        <ul>
            {% for post in posts %}
                {% include "blog/includes/post.html" %}
            {% endfor %}
        <ul>
    </section>

    <section id="about">
        <h2>What I do</h2>
        <p>I am an engineering undergrad majoring in Electronics and Instrumentation, I enjoy writing code and coming up with solutions to real-world problems!</p>
    </section>
{% endblock %}